body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
  
    background-color: #0d458f;
    color: #a4a4a4;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 55px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }